<ion-segment (ionChange)="segmentChanged($event)"  
value="ordenesdefraccionamiento"
scrollable="true"
mode="ios"
[(ngModel)]="segmentModel" 
(ionChange)="segmentChanged($event)"
>

<ion-row>
  <ion-col size="12">
    <ion-segment-button [disabled]="segmentModel=='comopuedolistarlosarchivosaloscualestengoacceso'" value="comopuedolistarlosarchivosaloscualestengoacceso">
      <ion-button [disabled]="segmentModel=='comopuedolistarlosarchivosaloscualestengoacceso'" > 
         <ion-label>1 ¿Como puedo listar <strong>Todos</strong> los<br>archivos a los cuales tengo acceso?</ion-label>
      </ion-button>
    </ion-segment-button>
    <ion-segment-button [disabled]="segmentModel=='comopuedoguardarmisformulariosoarchivosconlosqueaccedoconfrecuencia'" value="comopuedoguardarmisformulariosoarchivosconlosqueaccedoconfrecuencia">
      <ion-button [disabled]="segmentModel=='comopuedoguardarmisformulariosoarchivosconlosqueaccedoconfrecuencia'"> 
      <ion-label>2 ¿Como guardo archivos a<br>los que accedo con frecuencia?</ion-label>
      </ion-button>
    </ion-segment-button>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col size="12">
    <ion-segment-button [disabled]="segmentModel=='debopagaralgúncostodesuscripciónomensualidad'" value="debopagaralgúncostodesuscripciónomensualidad">
     <ion-button [disabled]="segmentModel=='debopagaralgúncostodesuscripciónomensualidad'"> 
        <ion-label>3 ¿Debo pagar algún costo <br>de suscripción o mensualidad?</ion-label> 
     </ion-button>
    </ion-segment-button>
    <ion-segment-button [disabled]="segmentModel=='cómomeregistrocodigotbbq'" value="cómomeregistrocodigotbbq">
      <ion-button [disabled]="segmentModel=='cómomeregistrocodigotbbq'"> 
      <ion-label>4 ¿Cómo me registro<br> Codigo TBBQ?</ion-label>
      </ion-button>
    </ion-segment-button>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col size="12">
    <ion-segment-button [disabled]="segmentModel=='portaldecontenido'" value="portaldecontenido">
      <ion-button [disabled]="segmentModel=='portaldecontenido'"> 
      <ion-label>5 ¿Portal de contenido?</ion-label>
      </ion-button>
    </ion-segment-button>
    <ion-segment-button [disabled]="segmentModel=='quesonlosanunciosdeadministración'" value="quesonlosanunciosdeadministración">
      <ion-button [disabled]="segmentModel=='quesonlosanunciosdeadministración'"> 
      <ion-label>6 ¿Que son los anuncios<br> de administración?</ion-label>
      </ion-button>
    </ion-segment-button>
  </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12">
    <ion-segment-button [disabled]="segmentModel=='formularios'" value="formularios">
      <ion-button [disabled]="segmentModel=='formularios'"> 
      <ion-label>7 ¿Formularios?</ion-label>
      </ion-button>
    </ion-segment-button>
    <ion-segment-button [disabled]="segmentModel=='comomecontactoconsoporte'" value="comomecontactoconsoporte">
      <ion-button [disabled]="segmentModel=='comomecontactoconsoporte'"> 
      <ion-label>8 ¿Como me contacto<br> con soporte?</ion-label>
      </ion-button>
    </ion-segment-button>
  </ion-col>
</ion-row>





</ion-segment>

<ion-content>

  <br *ngIf="segmentModel!=undefined">
  <br *ngIf="segmentModel!=undefined">
  <br *ngIf="segmentModel!=undefined">

  <section *ngIf="segmentModel=='comopuedolistarlosarchivosaloscualestengoacceso'">
    <ion-fab style="position:absolute; right:10%;top:1%;">
      <ion-fab-button (click)="segmentModel=undefined">  <ion-icon name="arrow-back-outline"></ion-icon> </ion-fab-button>
    </ion-fab>
    <ion-card>
      <ion-card-header>
        <ion-card-title>¿Como puedo listar Todos los archivos a los cuales tengo acceso?</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-accordion-group>
          <ion-text>Desde la pantalla de inicio, en la sección derecha, (Lista de mis archivos) podra visualizar los archivos a los cuales tiene acceso, visualizar observaciones, recomendaciones, tamaño del archivo, fecha de subida y otros detalles.
            </ion-text>
        </ion-accordion-group>
      </ion-card-content>
    </ion-card>
  </section>

  <section *ngIf="segmentModel=='comopuedoguardarmisformulariosoarchivosconlosqueaccedoconfrecuencia'">
    <ion-fab style="position:absolute; right:10%;top:1%;">
      <ion-fab-button (click)="segmentModel=undefined">  <ion-icon name="arrow-back-outline"></ion-icon> </ion-fab-button>
    </ion-fab>
    <ion-card>
      <br>
      <ion-card-header>
        <ion-card-title>¿Como puedo guardar mis formularios o archivos con los que accedo con frecuencia?</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-accordion-group>
          <ion-text>Desde la pantalla de inicio, desde la sección mis favoritos, si anteriormente ha guardado su contenido como favorito podra acceder rapidamente desde la pantalla inicial.</ion-text>
        </ion-accordion-group>
      </ion-card-content>
    </ion-card>
  </section>

  <section *ngIf="segmentModel=='debopagaralgúncostodesuscripciónomensualidad'">
    <ion-fab style="position:absolute; right:10%;top:1%;">
      <ion-fab-button (click)="segmentModel=undefined">  <ion-icon name="arrow-back-outline"></ion-icon> </ion-fab-button>
    </ion-fab>
    <ion-card>
      <br>
      <ion-card-header>
        <ion-card-title>¿Debo pagar algún costo de suscripción o mensualidad?</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-accordion-group>
          <ion-text>No, la suscripción, es gratuita. y podras acceder al contenido solo tras ser verificado como franquiciatario oficial de Tony's BBQ.
         </ion-text>
        </ion-accordion-group>
      </ion-card-content>
    </ion-card>
  </section>

  <section *ngIf="segmentModel=='cómomeregistrocodigotbbq'">
    <ion-fab style="position:absolute; right:10%;top:1%;">
      <ion-fab-button (click)="segmentModel=undefined">  <ion-icon name="arrow-back-outline"></ion-icon> </ion-fab-button>
    </ion-fab>
    <ion-card>
      <br>
      <ion-card-header>
        <ion-card-title>¿Cómo me registro, Codigo TBBQ?</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-accordion-group>
          <ion-text>Entra a la sección de 
            <a style="cursor: pointer;" (click)="iraregistro()">Registrar mi cuenta</a>
            
            y sigue las indicaciones, luego de 24 Horas usted sera dado de alta, por la administración, su codigo TBBQ es su codigo de control administrativo necesario para algun Ticket de soporte.</ion-text>
        </ion-accordion-group>
      </ion-card-content>
    </ion-card>
  </section>

  <section *ngIf="segmentModel=='portaldecontenido'">
    <ion-fab style="position:absolute; right:10%;top:1%;">
        <ion-fab-button (click)="segmentModel=undefined">  <ion-icon name="arrow-back-outline"></ion-icon> </ion-fab-button>
    </ion-fab>
    <ion-card>
      <br>
      <ion-card-header>
        <ion-card-title>¿Portal de contenido?</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-accordion-group>
          <ion-text>El portal de contenido es un portal en el cual usted podra visualizar el archivo el cual desea visualizar, automaticamente Tonys App's esta diseñado para visualizar archivos como PDF, Word, Excel, imagenes y de texto.</ion-text>
        </ion-accordion-group>
      </ion-card-content>
    </ion-card>
  </section>

  <section *ngIf="segmentModel=='quesonlosanunciosdeadministración'">
    <ion-fab style="position:absolute; right:10%;top:1%;">
      <ion-fab-button (click)="segmentModel=undefined">  <ion-icon name="arrow-back-outline"></ion-icon> </ion-fab-button>
    </ion-fab>
    <ion-card>
      <br>
      <ion-card-header>
        <ion-card-title>¿Que son los anuncios de administración?</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-accordion-group>
          <ion-text>Son mensajes globales dirigidos a todos nuestros clientes con información importante como por ejemplo, la situación de afección global: <strong>Pandemia del Covid-19</strong> o para anunciar 
            si actualmente Tonys necesita que recibas una información global por parte de la administración.
            .</ion-text>
        </ion-accordion-group>
      </ion-card-content>
    </ion-card>
  </section>

  <section *ngIf="segmentModel=='formularios'">
    <ion-fab style="position:absolute; right:10%;top:1%;">
      <ion-fab-button (click)="segmentModel=undefined">  <ion-icon name="arrow-back-outline"></ion-icon> </ion-fab-button>
    </ion-fab>
    <ion-card>
      <br>
      <ion-card-header>
        <ion-card-title>¿Formularios?</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-accordion-group>
          <ion-text>
            *Los formularios son generados y asignados dinamicamente por la administración de Tonys BBQ. 
            El usuario (Asignado) podra visualizar el formulario para responderlos y finalmente enviarlo a dos E-mail's. Luego del envio, el usuario regresara al paso anterior (Con el formulario vacio) donde podra enviar nuevamente el form. a dos correos electronicos.
            </ion-text>
        </ion-accordion-group>
      </ion-card-content>
    </ion-card>
  </section>

  <section *ngIf="segmentModel=='comomecontactoconsoporte'">
    <ion-fab style="position:absolute; right:10%;top:1%;">
      <ion-fab-button (click)="segmentModel=undefined">  <ion-icon name="arrow-back-outline"></ion-icon> </ion-fab-button>
    </ion-fab>
    <ion-card>
      <br>
      <ion-card-header>
        <ion-card-title>¿Como me contacto con soporte?</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-accordion-group>
          <ion-text>Puede abrir un ticket desde la sección soporte del menu principal y luego de 2 horas su ticket sera respondido.
            .</ion-text>
        </ion-accordion-group>
      </ion-card-content>
    </ion-card>
  </section>


  <section *ngIf="segmentModel==undefined||segmentModel==null||segmentModel==''">

    <section>
      <ion-card>
        <ion-card-header>
          <ion-card-title>¿Cuál es la dirección que debo utilizar en mis compras?</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-accordion-group>
            <ion-text>Es de suma importancia que las compras que realices a través de cualquier proveedor o tienda online sean enviadas a nuestras direcciones, no olvides colocar tu Código BEO al momento de comprar para poder identificar tu compra de forma apropiada.
  
              Igualmente, te invitamos a ingresar en las tiendas online en las que acostumbras comprar para realizar el cambio de dirección de destino o shipping address. Es de vital importancia que en la dirección coloques el campo del ZIP o ZIP-CODE correctamente, de esta forma garantizas una entrega eficiente por parte de tu proveedor.
              
              </ion-text>
          </ion-accordion-group>
        </ion-card-content>
      </ion-card>
    </section>
  
    <section>
      <ion-card>
        <br>
        <ion-card-header>
          <ion-card-title>¿En cuántos días recibiré mis paquetes?</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-accordion-group>
            <ion-text>En temporada alta (de diciembre a febrero) nuestros tiempos varían de acuerdo a la cantidad de carga recibida en nuestros almacenes, en muchos casos el tiempo en tránsito es superior a los 20 días.</ion-text>
          </ion-accordion-group>
        </ion-card-content>
      </ion-card>
    </section>
  
    <section>
      
        
      
      <ion-card>
        <br>
        <ion-card-header>
          <ion-card-title> ¿Debo pagar algún costo de suscripción o mensualidad?</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-accordion-group>
            <ion-text>No, la suscripción es gratuita, solo cobramos el servicio de traslado.
           </ion-text>
          </ion-accordion-group>
        </ion-card-content>
      </ion-card>
    </section>
  
    <section>
      
        
      
      <ion-card>
        <br>
        <ion-card-header>
          <ion-card-title> ¿Cómo me suscribo?</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-accordion-group>
            <ion-text>Entra a la sección de <a style="cursor: pointer;" (click)="iraregistro()">Registro gratuito</a> y sigue las indicaciones.</ion-text>
          </ion-accordion-group>
        </ion-card-content>
      </ion-card>
    </section>
  
    <section >
      
          
      
      <ion-card>
        <br>
        <ion-card-header>
          <ion-card-title>¿Qué es el Número de guía?</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-accordion-group>
            <ion-text>Es el número con el que identificamos cada paquete en nuestro sistema. Este número se genera automáticamente cuando tus paquetes son procesados en nuestros Almacenes y te indica en qué estatus se encuentra tu envío y cuál es el monto que vas a pagar por el servicio.</ion-text>
          </ion-accordion-group>
        </ion-card-content>
      </ion-card>
    </section>
  
    <section >
      
        
      
      <ion-card>
        <br>
        <ion-card-header>
          <ion-card-title>¿Que son los anuncios de administración?</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-accordion-group>
            <ion-text>Son mensajes globales dirigidos a todos nuestros clientes con información importante como por ejemplo, la situación que ha afetado internacionalmente a la ciudadania la <strong>Pandemia del Covid-19</strong> o para anunciar 
              si actualmente Tonys necesita que recibas una información global por parte de la administración.
              .</ion-text>
          </ion-accordion-group>
        </ion-card-content>
      </ion-card>
    </section>
  
    <section>
      
        
      
      <ion-card>
        <br>
        <ion-card-header>
          <ion-card-title>¿Formularios?</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-accordion-group>
            <ion-text>
              *Los formularios son generados y asignados dinamicamente por la administración de Tonys BBQ. El usuario (Asignado) podra visualizar el formulario para responderlos y finalmente enviarlo a dos E-mail's. Luego del envio, el usuario regresara al paso anterior (Con el formulario vacio) donde podra enviar nuevamente el form. a dos correos electronicos.
              </ion-text>
          </ion-accordion-group>
        </ion-card-content>
      </ion-card>
    </section>
  
    <section>
      
        
      
      <ion-card>
        <br>
        <ion-card-header>
          <ion-card-title>¿Como me contacto con soporte?</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-accordion-group>
            <ion-text>Puede abrir un ticket desde la sección soporte del menu principal y luego de 2 horas su ticket sera respondido.
              .</ion-text>
          </ion-accordion-group>
        </ion-card-content>
      </ion-card>
    </section>
  


  </section>

</ion-content>



