

.v2-badge-abierto {
    color: #1ea672;
    background-color: #CAF4C9;
  }
  
  .v2-badge-cerrado {
    color: #ffbc04;
    background-color: #e8d3a5;
  }

  
  .v2-badge {
    padding: 3px 8px;
    font-weight: 600;
    font-size: 12px;
    border-radius: 10px;
    white-space: nowrap;
  }