
<ion-content color="light">

  <!-- <ion-button color="danger" click="dismissystep2()"><ion-icon cname="close"></ion-icon></ion-button> -->
  <ion-fab-button  size="small" (click)="dismiss()" color="danger"><ion-icon name="close"></ion-icon></ion-fab-button>
  
<ion-grid class="ion-no-padding" no-padding>
<ion-row class="ion-no-padding" no-padding>
<ion-col size="12" class="ion-no-padding" no-padding>
  <ion-card color="primary" [class]="mostrarleusuarios==false ? 'ningunaclase' : 'cartaconscrolly300dealto'" class="ion-no-padding" no-padding>
    <ion-card-content class="ion-no-padding" no-padding>

      <ion-searchbar [(ngModel)]="filterTerm" (ionFocus)="mostrarleusuariosverdadero()" (ionBlur)="mostrarleusuariosfalso()" placeholder="Buscar Usuario..."></ion-searchbar>

      <!-- <ion-row *ngIf="selected_user" class="ion-no-padding" no-padding>
        <ion-col size="10" class="ion-no-padding" no-padding>
          <a style="color:white; margin-left: 15px;">{{selected_user.id_publico}}</a>
            <a style="color:white;">&nbsp;|</a>
          <ion-text>{{selected_user.name}}</ion-text>
          {{selected_user.lastname}}
          <a style="color:white;">|</a>
          {{selected_user.email}}
          <a style="color:white;">|</a>
          {{selected_user.paisnombre}}
        </ion-col>
        <ion-col size="2">
          <ion-button color="danger" (click)="borrarSelectedUser()" >
            <ion-icon color="light" name="close-circle"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row> -->
      
      <ion-list *ngIf="mostrarleusuarios==true">
        <ion-item (click)="esteusuario(usuario, i)" *ngFor="let usuario of respuestaobtenerusuariosbusqueda | filter:filterTerm ; let i = index;">
          <ion-label>{{usuario.name}}
            <a color="primary">|</a>
            {{usuario.lastname}}
            <a color="primary">|</a>
            {{usuario.email}}<br>
            <a color="primary">{{usuario.id_publico}}</a>
            <a color="primary">|</a>
            <span style="font-size: small;">{{usuario.create_date| date: 'yyyy-MM-dd hh:mm a'}}</span>
            <a color="primary">|</a>
            <ion-icon style="cursor:pointer;" color="primary" name="chevron-forward-circle"></ion-icon>
          </ion-label>
        </ion-item>
      </ion-list>


    </ion-card-content>
  </ion-card>
  
</ion-col>

</ion-row>
</ion-grid>

<ion-grid class="ion-no-padding" no-padding>
  <ion-row class="ion-no-padding" no-padding>
    <ion-col class="ion-no-padding" no-padding>
      <ion-card class="ion-no-padding" no-padding>
        <ion-card-content class="ion-no-padding" no-padding>
          <ion-list  class="ion-no-padding" no-padding>

            <ion-item class="ion-no-padding" no-padding>
              <ion-label position="floating">Recomendación:</ion-label>
              <ion-input [(ngModel)]="origen"></ion-input>
            </ion-item>
            <ion-item class="ion-no-padding" no-padding>
              <ion-label position="floating">Observación:</ion-label>
              <ion-input [(ngModel)]="observacion"></ion-input>
            </ion-item>

           </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>



  <ion-card class="ion-no-padding" no-padding>
    <div class="content-img">
      <label  style="cursor:pointer;"  for="input">Adjunta Archivo. <a>Tipos:(Word,Pdf,Excel,PowerPoint,Texto) "doc, pdf, docx, ppt, xls, xlsx, ppt,pptx, txt" </a>
      <img style="border-radius: 50em; display: block; object-fit: cover;" [src]="!new_url_image ? 'assets/adjuntar.gif' : 'assets/adjuntar.gif'"/>
      <ion-icon name="folder-outline"></ion-icon>
      </label>
      <input (change)=takePicture($event) class="input" type="file" id="input">
  </div>
  <ion-icon *ngIf="new_url_image" color="success" style="font-size:xx-large;" name="checkmark-circle"></ion-icon>
  </ion-card>

  <ion-text *ngIf="seleccion.length<1||!seleccion">aún no ha seleccionado usuarios para este archivo.</ion-text>

    <ion-text *ngIf="seleccion.length>0">
      <a style="color:black;" *ngFor=" let seleccionados of seleccion; let i = index;">{{seleccionados.name}} {{seleccionados.last_name}}, {{seleccionados.id_publico}}, {{seleccionados.email}}
        <span style="color:#c81f26;"> <ion-button (click)="borrarSelectedUserDeSeleccion(seleccionados, i)" size="small"><ion-icon name="close-circle-outline"></ion-icon> </ion-button>| </span></a></ion-text>

  
  
  <ion-button [disabled]="!archivoaceptado" style="position:fixed; right:0; bottom:0;" (click)="agregarcompra()">
    <ion-icon name="checkmark"></ion-icon>Agregar</ion-button>
  
</ion-content>

