

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col>

      </ion-col>
      <ion-col class="ion-text-center">
        <ion-fab-button (click)="dismiss()" color="danger"><ion-icon name="close"></ion-icon></ion-fab-button>
      </ion-col>
      <ion-col>
        
      </ion-col>
    </ion-row>
  </ion-grid>


  <!-- <img [src]="this.dataparaelmodal"> -->
  <!-- https://tonys.ml/wordejemplo.docx -->
  
  <ngx-doc-viewer [url]="dataparaelmodal" viewer="google"
  style="width:100%;height:93vh;">
</ngx-doc-viewer>

  <!-- <iframe width="98%" height="500px"
   [src]="enlace"  frameborder="0"
   ></iframe> -->

   <!-- <button ion-button (click)="openWithSystemBrowser('https://www.techiediaries.com')">Open with System browser</button>
   <button ion-button (click)="openWithInAppBrowser('https://www.techiediaries.com')">Open with In App browser</button>
   <button ion-button (click)="openWithCordovaBrowser('https://www.techiediaries.com')">Open with Cordova browser</button> -->

  
  
</ion-content>
