<ion-header color="light" class="ion-no-border" [translucent]="true">
  <ion-toolbar color="light">
    
    <ion-buttons *ngIf="informacion_perfil!=null&&informacion_perfil!=undefined" slot="end">
      <ion-button (click)="ONCHANGEmenuderechosuperior()" >
        <ion-avatar style="width:90%; height:90%;">
          <img [src]="informacion_perfil.profile_url_img==undefined || informacion_perfil.profile_url_img==null || informacion_perfil.profile_url_img=='' ? 'assets/avatarassetsimage.png' : informacion_perfil.profile_url_img"/>
        </ion-avatar>
      </ion-button>
      <ion-button style="text-transform:none" (click)="ONCHANGEmenuderechosuperior()"><ion-text  style="margin-left: -8px;">{{this.informacion_perfil.email}}</ion-text><ion-icon name="ellipsis-vertical"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light" (click)="ONCHANGEclickenelcontent()" [fullscreen]="true">

  <ion-card *ngIf="menuderechosuperior==true" style="position:absolute; right:0%; top:0%; z-index: 9999;">
    <ion-card-header>
      <ion-card-title>Mi Cuenta</ion-card-title>
      <ion-card-subtitle>Menu de Usuario</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
          <ion-list>
          <ion-item>
          <ion-label (click)="iramiperfilDelMenuDerechoSuperior()" style="cursor: pointer;">Mi perfil</ion-label>
          </ion-item>
          <ion-item>
          <ion-label style="cursor: pointer;">Mi Cuenta</ion-label>
          </ion-item>
          <ion-item (click)="logout()" style="cursor: pointer;">
          <ion-label>Salir</ion-label>
          </ion-item>
          </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card style="border-radius: 2px;" ion-no-padding class="no-padding">
    <br>
    <ion-card-title style="margin-left: 20px; color: #404040; font-family: 
     -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Ubuntu,sans-serif;" ion-no-padding class="no-padding">
     Anuncios</ion-card-title>
    <br>

    <ion-card  [hidden]="cadaanuncio.hidden==true"  *ngFor="let cadaanuncio of respuestatonysanuncios; let i = index;" style="background-color: #f1f1f146; border-radius:0%">
      <ion-card style="margin:15px;">
        <ion-text style="margin:15px; "><strong style="color:#c81f26;">{{cadaanuncio.titulo}} &nbsp; </strong><a style="font-style: italic; color:#9e1a1f">{{cadaanuncio.fecha | date:'medium':'GMT-4'}}</a></ion-text>
        <br>
        <ion-text class="parrafosde2lineas" style="margin-left:15px; color:white;">
          <a *ngIf="cadaanuncio.prioridad=='importante'" style="color:#303030">Importante: </a>
          <a style="color:#606060;">{{cadaanuncio.descripcion}}</a>
          <span style="position:absolute; bottom:0px; right:0px; cursor:pointer;" class="v2-badge v2-badge-primary" (click)="ocultaranuncio(cadaanuncio, i)">
            Ocultar</span>
          <br>
        </ion-text>
           
      </ion-card>
    </ion-card>


  </ion-card>


  
    <ion-grid class="ion-no-padding" no-padding>
      <ion-row style="border-bottom: 1px solid #d1d9e5"> 
        <ion-col>
          <!-- direciones -->
          <ion-card>
            <ion-card-header color="primary">
              <ion-card-title>Favoritos</ion-card-title>
            </ion-card-header>
            <ion-card-content  *ngIf="respuestatonysobteneradmindirecciones" class="ion-no-padding" no-padding>


              <ion-segment (ionChange)="segmentChanged($event)"scrollable="true" mode="ios" [(ngModel)]="variabledelsegmentmodel" class="ion-no-padding" no-padding>


                <ion-grid>
                  <ion-row>
                      <ion-col size="6">
                        <ion-buttons >
                          <ion-button  style="border-radius:15px; background:#f1f1f1;color:black;" (click)="variabledelsegmentmodel=='0'">
                            <ion-segment-button  value="0">Archivos
                            </ion-segment-button>
                          </ion-button>
                        </ion-buttons>

                      </ion-col>
                      <ion-col size="6">
                        <ion-buttons>
                          <ion-button  style="border-radius:15px; background:#f1f1f1;color:black;" (click)="variabledelsegmentmodel=='1'">
                            <ion-segment-button value="1">Formularios
                            </ion-segment-button>
                       </ion-button>
                     </ion-buttons>

                      </ion-col>
                  </ion-row>
<!-- 
                  <ion-row>
                    <ion-col size="6">
                      <ion-buttons>
                        <ion-button style="border-radius:15px; background:#f1f1f1;color:black;" (click)="variabledelsegmentmodel=='2'">
                          <ion-segment-button value="2">{{respuestatonysobteneradmindirecciones[2].pais}}
                          </ion-segment-button>
                       </ion-button>
                     </ion-buttons>
                    </ion-col>
                    <ion-col size="6">
                        <ion-buttons>
                        <ion-button style="border-radius:15px; background:#f1f1f1;color:black;" (click)="variabledelsegmentmodel=='3'">
                            <ion-segment-button value="3">{{respuestatonysobteneradmindirecciones[3].pais}}
                            </ion-segment-button>
                        </ion-button>
                       </ion-buttons>
                    </ion-col>
                   </ion-row> -->

              </ion-grid>
              </ion-segment>

              
             <ion-grid>

               <section>
                 <ion-row>
                   <ion-col>
                     <ion-text *ngIf="variabledelsegmentmodel=='0'"><strong>Actualmente usted no cuenta con contenido asignado como favorito.</strong></ion-text>
                     <ion-text *ngIf="variabledelsegmentmodel=='1'"><strong>Actualmente usted no cuenta con formularios favoritos.</strong></ion-text>
                   </ion-col>
                 </ion-row>
               </section>


             </ion-grid>


            </ion-card-content>
          </ion-card>

        </ion-col>

        <ion-col>
          
          <ion-row>
            <ion-col>
              <!-- mi account -->
              <ion-card>
                <ion-card-header color="primary">
                  <ion-card-title>Mi cuenta</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <ion-list class="ion-no-padding" no-padding>
                    <ion-item  class="ion-no-padding" no-padding>
                      <ion-text>Usted tiene actualmente <a color="Primary">0</a> archivos asignados.</ion-text><br>
                    </ion-item>
                    <ion-item  class="ion-no-padding" no-padding>
                      <ion-text>Usted tiene actualmente <a color="Primary">0</a> formularios asignados.</ion-text><br>
                    </ion-item>
                    <ion-item  class="ion-no-padding" no-padding>
                      <ion-text>Usted tiene actualmente <a color="Primary">0</a> formularios enviados.</ion-text><br>
                    </ion-item>
                  </ion-list>
                </ion-card-content>
                <ion-card-header class="ion-no-padding" no-padding>

                </ion-card-header>
                <br>
              </ion-card>
            </ion-col>
          </ion-row>

          <ion-row>
            <!-- subastas -->
            <ion-col>
              <ion-card>
                <ion-card-header color="primary">
                  <ion-card-title>Lista de contenido asignado.</ion-card-title>
                </ion-card-header>
                <br><br><br><br><br><br><br>
              </ion-card>
            </ion-col>
          </ion-row>

        </ion-col>
      </ion-row>
    </ion-grid>


  
</ion-content>
